 <div class="flex2">
     <div class="column">
         <h2> {{picName}} </h2>
         <a href="post/{{_id}}"><img class="img" src="{{picPath}}"></img></a>
    </div>
    <div>
         <p class="content"> {{content}}  </p>
    </div>
       
    
    
 </div> 
 
    