<div>
    <form action="/post" method="post">
        <label for="content">Post</label>
        <textarea name="content" placeholder="Tu puto post va aqui" rows="10" cols="50"></textarea>

        <label for="picPath">Picture link</label>
        <input type="text" name="picPath">

        <label for="picName">Picture name</label>
        <input type="text" name="picName">

        <button type="submit">File upload</button>
    </form>
    

</div>